

@import 'https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap';
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:80px;
    font-family: 'Merriweather Sans', sans-serif;
}

.container{
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
}
#btn2{
    float: right;
}
#btn1,#btn2{
    border: none;
    padding: 15px 25px;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
}
#btn1:hover,#btn2:hover{
    border: none;
    padding: 15px 25px;
    background-color: black;
    color: white;
    
}